:root {
	--at-apply: 'accent-emerald-600 scroll-smooth';
}

:root.dark {
	color-scheme: dark;
}

body {
	--at-apply: 'font-sans bg-default overflow-y-scroll';
	--at-apply: 'text-default leading-tight antialiased';
}
